body {
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #fff;
}


.App {
  border-radius: 30px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%);
  max-width: 700px;
  min-height: 500px;
  padding: 30px;
}

.App .item-todo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 14px;
  width: 250px;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.App .item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}

.App input {
  padding: 14px 32px 14px 16px;
  border-radius: 15px;
  border: 2px solid #5d0cff;
  outline: none;

}

.App button {
  padding: 16px 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%);
  color: #fff;
  text-transform: capitalize;
  margin-left: 10px;
}

.App button:hover {
  background: rgb(63, 61, 61);
  transition: .6s ease-in-out;
}

.App button:target {
  background: rgb(255, 254, 254)
}

.App .item-todo .item-delete {
  display: inline-block;
  cursor: pointer;
  font-size: 22px;
  position: relative;
  left: -4px;
  bottom: 5px;
}

.strike {
  text-decoration: line-through 2px;
}